@import url("https://uilight.netlify.app/main.css");@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");


body {
    background-color: #bef264;
}

.main {
    padding: 2rem 0;
    width: 36.5vw;
    margin-left: 50vw;
    transform: translateX(-50%);
}

h1 {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;  
}

.input {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.input-btn {
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    width: 25vw;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
}

.add-button {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    height: 40px;
    font-size: 1.25rem;
    margin-right: 20px;
}

.t-checkbox {
    width: 1.25rem;
    height: 1.25rem;
}

.t-pointer {
    cursor: pointer;
}

.todo {
    color: black;
    font-size: 1.5rem;
}
  
.todos-container {
    height: 70vh;
    overflow-y: auto;
}

.t-pointer {
    cursor: pointer;
}

.todo-text {
    word-wrap: break-word;
}
  
.checked-todo {
    text-decoration: line-through;
    color: black;
}

.del-button {
    color: blue;  
}