body {
    background-color: #bef264;
}

.main {
    padding: 2rem 0;
    width: 26vw;
    margin-left: 50vw;
    transform: translateX(-50%);
}

h1 {
    display: flex;
    justify-content: center;   
}

.input {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.button {
    background-color: brown;
    color: white;
    border: none;
    margin : 1px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.todo {
    color: black;
    font-size: 1.5rem;
}
  
.todos-container {
    height: 70vh;
    overflow-y: auto;
}

.t-pointer {
    cursor: pointer;
}

.todo-text {
    word-wrap: break-word;
}
  
.checked-todo {
    text-decoration: line-through;
    color: black;
}